.window_form {
	display: flex;
	flex-direction: column;
	gap: 50px;
	.title_container {
		display: flex;
		align-items: center;
		gap: 15px;
		font-size: calc(2.25rem + ((1vw - 14.4px) * 0.8163));
		font-weight: 600;
		font-family: "Oswald", sans-serif;
		margin-bottom: 100px;

		.image {
			width: 80px;
			height: 80px;
		}
	}
	.window_box {
		display: flex;
		flex-direction: column;
		gap: 52px;

		.input_container {
			display: flex;
			justify-content: space-between;
			.input_title {
				width: 40%;
				font-family: "Inter", sans-serif;
				font-size: 28px;
				font-weight: 500;
			}

			.input_box {
				width: 50%;
				display: flex;
				align-items: center;
				gap: 10px;
			}
		}
	}

	.button {
		padding: 12px 80px;
	}
}

@media screen and (max-width: 950px) {
	.window_form {
		.title_container {
			font-size: 32px;
			margin-bottom: 50px;
		}
		.window_box {
			.input_container {
				flex-direction: column;
				gap: 60px;
				.input_title {
					width: 100%;
				}
				.input_box {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 700px) {
	.window_form {
		.title_container {
			font-size: 26px;
		}
		.window_box {
			.input_container {
				flex-direction: column;
				gap: 60px;
				.input_title {
					width: 100%;
				}
				.input_box {
					width: 100%;
					flex-direction: column;
				}
			}
		}
		button {
			width: 100%;
		}
	}
}
