.button {
	border: none;
	border-radius: 12px;
	text-align: center;
	padding: 12px;
	background: var(--primary-btn-color);
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 26px;
	cursor: pointer;
}

.button_secondary {
	background: var(--primary-bg-color);
	border: none;
	border-radius: 12px;
	text-align: center;
	padding: 12px;
	color: white;
	font-family: "Inter", sans-serif;
	font-size: 26px;
	cursor: pointer;
}

.button:hover {
	-webkit-box-shadow: 0px 0px 10px 6px rgba(255, 108, 25, 0.33);
	-moz-box-shadow: 0px 0px 10px 6px rgba(255, 108, 25, 0.33);
	box-shadow: 0px 0px 10px 6px rgba(255, 108, 25, 0.33);
	border: 1px solid white;
}

.button_secondary:hover {
	-webkit-box-shadow: 0px 0px 10px 6px rgba(103, 138, 214, 0.33);
	-moz-box-shadow: 0px 0px 10px 6px rgba(103, 138, 214, 0.33);
	box-shadow: 0px 0px 10px 6px rgba(103, 138, 214, 0.33);
	border: 1px solid white;
}
