@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "variable.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: auto;
	scrollbar-color: #ff6c19 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-track {
	background: #ffffff;
}

*::-webkit-scrollbar-thumb {
	background-color: #ff6c19;
	border-radius: 8px;
	border: 1px solid #ffffff;
}
html {
  scroll-behavior: smooth;
}