.map_section {
	padding-bottom: 153px;
	.map_container {
		display: flex;
		.media_title {
			display: none;
		}
		.contact_box {
			display: flex;
			flex-direction: column;
			width: 35%;
			justify-content: space-between;
			background: #fcfcfc;
			border: 1px solid #ebebeb;
			padding: 42px 42px;
			border-radius: 12px 0 0 12px;

			.title {
				font-family: "Oswald", sans-serif;
				font-size: 25px;
				font-weight: 600;
			}
			.list_container {
				display: flex;
				flex-direction: column;
				gap: 48px;

				.list {
					font-family: "Oswald", sans-serif;
					font-size: 24px;
					font-weight: 500;
					list-style: none;
					border-bottom: 1px solid #a5a5a5;
					display: flex;
					align-items: center;
					gap: 20px;
					padding-bottom: 8px;

					img {
						width: 30px;
						height: 30px;
					}
				}
			}
		}

		.map {
			border-radius: 0 12px 12px 0;
			outline: none;
			border: 1px solid #ebebeb;
		}
	}
}

@media screen and (max-width: 850px) {
	.map_section {
		padding-bottom: 60px;
		.map_container {
			display: flex;
			flex-direction: column;
			gap: 30px;
			.media_title {
				// display: flex;
				font-family: "Oswald", sans-serif;
				font-size: 28px;
				font-weight: 600;
				width: 40%;
			}

			.map {
				outline: none;
				border: 1px solid #ebebeb;
				border-radius: 0;
			}

			.contact_box {
				width: 100%;
				padding: 13px;

				.title {
					margin-bottom: 60px;
					padding: 20px 0 0 40px;
					font-size: 32px;
				}
				.list_container {
					padding: 13px;
					// gap: 52px;
					display: flex;
					flex-direction: column;
					flex-wrap: wrap;
					height: 200px;

					.list {
						width: 40%;
						img {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	.map_section {
		padding-bottom: 60px;
		.map_container {
			display: flex;
			flex-direction: column-reverse;
			gap: 30px;
			.media_title {
				display: flex;
				font-family: "Oswald", sans-serif;
				font-size: 28px;
				font-weight: 600;
				width: 40%;
			}

			.map {
				outline: none;
				border: 1px solid #ebebeb;
				border-radius: 0;
			}

			.contact_box {
				width: 100%;
				padding: 13px;

				.title {
					display: none;
				}
				.list_container {
					padding: 13px;
					gap: 52px;

					.list {
						img {
							width: 30px;
							height: 30px;
						}
					}
				}
			}
		}
	}
}
